---
const year = new Date().getFullYear();
---

<footer class="bg-slate-800 mt-12 py-4 text-center text-slate-400">
  <div class="container mx-auto px-4">
    <p>&copy; {year} PackOffStore. Todos los derechos reservados.</p>
  </div>
</footer>
