---
// src/components/organisms/Header.astro
import Button from "../atoms/Button.astro";
---

<header class="bg-slate-800 shadow-md">
  <nav class="container mx-auto px-4 py-3 flex justify-between items-center">
    <a href="/" class="text-2xl font-bold text-yellow-400"> PackOffStore </a>
    <Button href="/login"> Login </Button>
  </nav>
</header>
